SUBSYSTEM=="net", ACTION=="add", KERNEL=="can[01]", RUN+="/sbin/ip link set %k type can bitrate 500000", RUN+="/sbin/ip link set %k txqueuelen 20", RUN+="/sbin/ip link set %k up"
